<div class="container">
<div>
  <mat-form-field>
    <input type="text" placeholder="Select a county" matInput [formControl]="countyControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let county of filteredCounties | async" [value]="county.name"
        (onSelectionChange)="onCountySelection(county.name)">
        {{ county.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div *ngIf="selectedCounty">
  <h3>Results for {{ selectedCounty.name }} County</h3>
  <h4><b>President</b></h4>
  <ul>
    <li *ngFor="let result of selectedCounty.president">
      {{ result.candidate }} ({{ result.party }}): {{ result.votes }} votes
    </li>
  </ul>
  <h4><b>Governor</b></h4>
  <ul>
    <li *ngFor="let result of selectedCounty.governor">
      {{ result.candidate }} ({{ result.party }}): {{ result.votes }} votes
    </li>
  </ul>
  <h4><b>Senate</b></h4>
  <ul>
    <li *ngFor="let result of selectedCounty.senate">
      {{ result.candidate }} ({{ result.party }}): {{ result.votes }} votes
    </li>
  </ul>
  <h4><b>Women Representative</b></h4>
  <ul>
    <li *ngFor="let result of selectedCounty.womenRepresentative">
      {{ result.candidate }} ({{ result.party }}): {{ result.votes }} votes
    </li>
  </ul>
</div>
</div>
