<div class="container">
    <h1>Angular App</h1>
<mat-form-field>
  <mat-label>Select a hero:</mat-label>
  <input type="text" matInput [formControl]="heroControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onHeroSelection($event.option.value)">
    <mat-option *ngFor="let hero of filteredHeroes" [value]="hero.name">
      {{ hero.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="selectedHero">
  <h2>Selected Hero:</h2>
  <p>ID: {{ selectedHero.id }}</p>
  <p>Name: {{ selectedHero.name }}</p>
</div>
</div>
